/* HTML Tables CSS Styling */


/* Tables Styles */
#recipes_table {
	width: 550px;
	border: none;
}
#recipes_table td {
	padding: 10px;
	line-height: 1.8em;
}
#alphabet_table {
	width: 300px;
	height: 300px;
	border: solid 1px #666666;
}
#alphabet_table td {
	border: solid 2px #666666;
	font-size: 18px;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}
.center {
	text-align: center;
}

/* Regiser page Styles */
.register label {
	display: block;
	margin-top: 20px;
}

/* Calculator Styles */
.calculator {
	border: solid 1px #000000;
	padding-left: 9px;
	width: 243px;
	margin-left: 10px;
	margin-top: 20px;
}
.calculator input {
	text-align: right;
	font-size: 18px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 5px;
}
.calc_scr {
	width: 190px;
	margin-top: 5px;
}
