/* HTML Forms and Frames CSS Styling */

/* User Form Page Styling */
#user_form {
	width: 515px;
}
#user_form td {
	padding: 5px;
}
#user_form td label {
	float: right;
}
#user_form input[type=radio] {
	width: 15px;
	margin-right: 25px;
}
#user_form .season label {
	float: none;
}
#user_form .small_input {
	width: 60px;
}
#user_form .form_submit {
	background-color: lightblue;
	padding-left: 200px;
}


/* Table Page Style */
#advanced_table {
	width: 800px;
	margin-left: 10px;
}
#advanced_table a {
	text-decoration: underline;
	padding: 2px;
}
#advanced_table td {
	border: solid 1px #666666;
	padding: 5px;
}
#advanced_table thead th {
	border: solid 1px #666666;
	padding: 10px;
	font-weight: bold;
}
#advanced_table .total {
	background-color: #9C6;
	font-weight: bold;
}


/* Grid Table Style */
#grid {
	text-align: left;
	width: 1000px;
	font-size: 12px;
	margin-left: 10px;
}
#grid table {
	border: 1px solid #B1ABDF;
	border-spacing: 0px;
	border-collapse: collapse;
}
#grid td, th {
	border: 1px solid #DFE3EE;
	padding: 3px;
	text-align: left;
	font-weight: normal;
}
#grid thead td, th {
	border: 1px solid #B9B9B9;
}
#grid .head_one {
	background-color: #E7E9EB;
	height: 25px;
}
#grid .head_two {
	background: #E7E9EB url("../img/thead.png") repeat-x;
	height: 26px;
}
#grid .head_three {
	background-color: #DFE3E8;
}
#grid .total_pages {
	text-align: right;
	font-size: 12px;
}
#grid input[type=text] {
	border: solid 1px #CCCCCC;
	padding: 3px;
	float: left;
	margin: 1px;
}
#grid input[type=image] {
	vertical-align: -6px;
}
#grid tfoot {
	background-color: #DFE3E8;
	background-image: url("../img/tfoot.png");
	background-repeat: repeat-x;
	height: 30px;
	font-size: 10pt;
}
#grid tfoot td {
	border: none;
}
#grid a {
	color: #333;
	padding: 5px;
}
#grid a:hover {
	color: #09F;
	border: solid 1px #B1ABDF;
	padding: 2px 4px 2px 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#grid .active {
	border: solid 1px #CB7834;
	padding: 2px 4px 2px 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}


/* Laptop Page Styling */
#products {
	border: solid 1px #000000;
	float: left;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
#products fieldset {
	height: 140px;
	margin: 5px;
	border: solid 1px;
	width: 250px;
}
#products img {
	margin-bottom: 5px;
	margin-right: 5px;
}
#products .price {
	font-weight: bold;
	padding-left: 40px;
}

.product_form {
	width: 200px;
	margin-left: 20px;
	float: left;
}

.product_form input {
	margin-bottom: 15px;
	display: block;
}


