@charset "utf-8";

/* Common CSS Styling */
* {
	margin: 0px;
	padding: 0px;
}
html, body {
	height: 100%;
	color: #555;
	background: #f5f5f5;
}
header, hgroup, nav, section, article, aside, footer {
	display: block;
	padding: 10px;
}
nav {
	font-size: 24px;
}
nav li {
	display: inline;
	margin-right: 30px;
}
section, article {
	padding: 5px;
	margin-left: 20px;
}


/* Dropdown List Styles */
ul.dropdown {
	margin-left: 50px;
	font-size: 18px;
}
ul.dropdown ul, li {
	list-style-type: none;
}
ul.dropdown a {
	text-decoration: none;
	color: #000;
}
ul.dropdown .sub a {
	color: #666;
}
ul.dropdown a:hover {
	text-decoration: underline;
}
ul.dropdown ul {
	padding-left: 20px;
}
ul.dropdown .sub { 	/* Sub list implementation */
	display: none;
}
ul.dropdown .dd:hover > .sub {
	display: block;
}


/* Music Categories */
section.cat article {
	font-family: "Times New Roman", Times, serif;
	position: relative;
	border: solid 1px #999999;
	width: 360px;
	padding: 15px 30px 10px 15px;
	margin-bottom: 35px;
	background-color: #FFF;
}
section.cat > header h1 {
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 30px;
	padding-left: 20px;
}
section.cat article p {
	font-size: 14px;
}
section.cat article figure > img {
	border: solid 1px #999999;
	width: 135px;
	height: 90px;
	margin-right: 15px;
	float: left;
}
.buttons {
	text-align: right;
}
.btn {
	border-top: 2px solid #E38382;
	border-right: 2px solid #650000;
	border-bottom: 2px solid #650000;
	border-left: 2px solid #9C2829;
	background: #f00;
	box-shadow: inset 15px 0 0 #8A0000;
	
	display: inline-block;
    margin-top: 15px;
    padding: 2px 10px 2px 25px;
    color: #fff;
    text-decoration: none;     
}


/* About Page Styles */
section#about {
	width: 665px;
	position: relative;
	background: #3B3B3B;
	padding: 0px;
	border: 1px #806850 solid;
	border-radius: 10px;
}
section#about section.login {
	background: url(../img/from_shadow.jpg) 0px 100% no-repeat;
	width: 653px;
	height: 50px;
	position: relative;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 0px;
}
section#about form label {
	font-size: 22px;
	font-weight: bold;
	background: url(../img/level.jpg) 0px 0px no-repeat #3B3B3B;
	background-color: #3B3B3B;
	width: 160px;
	height: 44px;
	padding-left: 60px;
	line-height: 44px;
	display: block;
	float: left;
	color: #FFF;
}
section#about form input {
	padding: 1px;
	margin: 9px 18px 0px 0px;
}
section#about input.button {
	background: url(../img/button.gif) 0px 0px no-repeat #3A3A3A;
	width: 56px;
	height: 28px;
	margin-left: 5px;
	border: none;
	color: #FFF;
}
section#about article { /* Article Section */
	color: #A4A4A4;
	background-color: #3B3B3B;
	font: 13px/17px Verdana, Arial, Helvetica, sans-serif;
	line-height: 18px;
	width: 600px;
	padding: 0px 0px 10px 0px;
}
section#about article header {
	color: #FBD61A;
	padding: 0px;
	margin: 0px;
}
section#about article h2 {
	font: 28px/68px Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
}
#about p span {
	color: #fff;
}


/* Web Page Styles */
div#wrapper {
	width: 1040px;
}

nav#cat { /* Side Menu */
	width: 170px;
	float: left;
	font-size: 14px;
	background-color: #F1F1F1;
}
nav#cat > ul {
	list-style-type: none;
}
nav#cat > ul li {
	margin: 0px;
	padding: 0px;
}
nav#cat > a {
	text-decoration: none;
	color: #000;
	display: block;
}
nav#cat > a:hover {
	text-decoration: underline;
}
nav#cat > a.home {
	font-weight: bold;
}
nav#cat > a.title {
	color: #900;
	font-weight: bold;
	margin-top: 20px;
}

section#main { /* Main Section */
	width: 630px;
	float: left;
	background-color: #FFF;
	border: 2px #CCCCCC groove;
	margin: 0px;
}
section#main > header {
	width: 610px;
	border-bottom: 2px #CCCCCC groove;
}
section#main > header h1 {
	margin-bottom: 15px;
}
section#main > header a, footer a {
	text-decoration: none;
	display: inline-block;
	border: 2px #CCCCCC groove;
	height: 19px;
	width: 100px;
	text-align: center;
	font-size: 14px;
	color: #000;
}

article.summary { /* Article Section */
	margin: 0px;
	padding: 0px;
}
article.summary > header {
	padding-left: 0px;
	padding-right: 0px;
	font-weight: normal;
}
article.summary > header h2 {
	background: #808080;
	color: #FFF;
	font-size: 18px;
	padding-left: 2px;
}
article.summary > figure img {
	width: 120px;
	height: 70px;
	border: none;
	float: left;
	margin-right: 20px;
}

article.summary > p {
	color: #000;
	margin-bottom: 10px;
}
article.summary > a.more {
	color: #900;
	font-weight: normal;
	text-decoration: underline;
	display: block;
	margin-top: 14px;
}
article#top {
	font-weight: bold;
}

section#main > footer { /* Main Section Footer */
	border-top: 2px #CCCCCC groove;
	border-bottom: 2px #CCCCCC groove;
	margin-bottom: 40px;
}

aside#sector { /* Aside Sector */
	width: 220px;
	float: right;
	font-size: 14px;
	padding: 0px;
	margin: 0px;
}
aside#web > section {
	border: 1px #999 groove;
	padding: 0px;
}

aside#web > section header {
	padding: 0px;
}

aside#web > section h2 {
	background: #808080;
	color: #FFF;
	font-size: 16px;
	padding-left: 2px;
}

/* Shopping Page Styles */
nav#brand {
	border-bottom: 2px #666666 solid;
	margin-bottom: 20px;
	width: 720px;
}
nav#brand {
	padding-left: 50px;
	margin-left: 30px;
}
article#shop, article#shop > section {
	border: 1px solid #444;
	padding-top: 15px;
}

article#shop {
	position: relative;
	overflow: hidden;
	width:790px;
	background-color: #FFF;
}
article#shop section {
	float: left;
	margin: 0 0 10px 10px;
	padding: 10px 20px;
	width: 255px;
}
article#shop h2 {
	float: left;
	margin-top: -20px;
	padding: 0 20px;
	background: #fff;
	font-size: 18px;
	font-weight: normal;
}
article#shop ul {
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
}
article#shop li {
	margin-bottom: 10px;
}
article#shop aside {
	position: absolute;
	right: 0px;
	width: 160px;
	text-align: center;
}






