html, body, div, span, h1, h2, h3, h4, h5, h6, p, img, ul, li, form, label, table, article, aside, footer, header, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

html {
  background-image: -webkit-linear-gradient(top, #D593FF 0, #8F19EF 165px, #9215f2 100%);
  background-image: -moz-linear-gradient(top, #D593FF 0, #8F19EF 165px, #9215f2 100%);
  background-image: -ms-linear-gradient(top, #D593FF 0, #8F19EF 165px, #9215f2 100%);
  background-image: -o-linear-gradient(top, #D593FF 0, #8F19EF 165px, #9215f2 100%);
  background-image: linear-gradient(top, #D593FF 0, #8F19EF 165px, #9215f2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr=#D593FF 0, EndColorStr=#9215f2 100%); }

nav, section, aside, article, footer {
  border-radius: 15px; }

body {
  color: #FFF;
  /* Header Area */
  /* Section Area */
  /* Aside Area */
  /* Footer Area */ }
  body header {
    padding: 25px 15px 5px 15px;
    /* Logo Area */
    /* Registration form */
    /* Navigation Menu */ }
    body header #logo-container {
      float: left;
      position: relative; }
    body header #reg-form-container {
      float: right;
      position: relative;
      top: 50%;
      right: 5%; }
      body header #reg-form-container div {
        text-align: right; }
        body header #reg-form-container div label {
          width: 50px;
          margin: 5px; }
        body header #reg-form-container div input {
          width: 130px;
          border: 1px solid #603382;
          border-radius: 10px;
          padding: 2px 5px;
          margin: 5px;
          background-color: #B35EF3; }
      body header #reg-form-container button {
        margin-left: auto;
        margin-right: auto;
        font-weight: bold;
        border: 1px solid #603382;
        border-radius: 10px;
        padding: 5px 8px;
        background-color: #B35EF3;
        color: #FFF; }
        body header #reg-form-container button:hover {
          background-color: #8949b9;
          border-style: inset;
          color: #CCC; }
    body header nav {
      display: inline-block;
      width: 75%;
      margin: 20px;
      padding: 12px;
      border: 2px solid black; }
      body header nav ul.nav-list {
        list-style-type: none; }
      body header nav ul li {
        float: left;
        margin: 0; }
        body header nav ul li a {
          text-decoration: none;
          padding: 0 10px;
          color: #FFF;
          font: 1.4em normal Arial; }
          body header nav ul li a.selected {
            font-weight: bold; }
        body header nav ul li:hover > a {
          text-decoration: underline;
          color: #CCC; }
          body header nav ul li:hover > a + ul {
            display: block; }
        body header nav ul li ul.sub-nav-list {
          position: absolute;
          display: none;
          background-color: #B35EF3;
          border-radius: 5px; }
        body header nav ul li ul li {
          float: none;
          margin: 0 15px;
          padding: 10px 0;
          border-bottom: 1px solid black; }
          body header nav ul li ul li:last-of-type {
            border-bottom: none; }
          body header nav ul li ul li > a {
            font-size: 1.2em;
            color: #FFF; }
  body section {
    width: 75%;
    float: left; }
    body section article {
      margin: 20px;
      padding: 20px;
      border: 1px solid black; }
      body section article header {
        background: none;
        padding: 5px; }
        body section article header h1 {
          font-size: 1.4em;
          padding: 0; }
      body section article footer {
        padding: 5px; }
        body section article footer p {
          font-size: 16px;
          text-align: right;
          font-weight: normal; }
          body section article footer p time {
            font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace; }
          body section article footer p a {
            text-decoration: none;
            color: #AAA; }
            body section article footer p a:hover {
              text-decoration: underline; }
  body aside {
    float: left;
    width: 20%;
    margin: 20px; }
    body aside > ul {
      list-style-type: none; }
      body aside > ul > li {
        margin: 15px 0;
        padding: 15px;
        border: 1px solid #603382;
        border-radius: 5px; }
        body aside > ul > li h2 {
          font-size: 1.1em;
          font-weight: bold; }
        body aside > ul > li p {
          margin: 10px 5px;
          font-size: 14px; }
          body aside > ul > li p a {
            color: #CCC;
            text-decoration: none; }
          body aside > ul > li p strong {
            color: #AAA;
            font-weight: bold;
            font-style: normal; }
          body aside > ul > li p em {
            color: #AAA;
            font-weight: normal;
            font-style: italic; }
        body aside > ul > li ul {
          list-style-type: none;
          margin: 10px 0; }
          body aside > ul > li ul li {
            margin: 5px 0 0 10px;
            background: url(../img/li-dot.png) no-repeat;
            background-position: 0 50%;
            padding-left: 25px; }
  body footer {
    clear: both;
    margin: 15px 25px 0 0; }
    body footer p {
      font-size: 1.2em;
      font-weight: bold;
      text-align: center; }

/*# sourceMappingURL=sass.css.map */