/* Styles for HTML Introduction */

#heading {
	float: right;
	font-size: 18px;
	display: inline;
}

.info {
	margin-left: 20px;
	font-style: italic;
	font-size: 22px;
	line-height: 30px;
}

.profile_info {
	line-height: 35px;
}