<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="RentalDb" connectionString="Data Source=.;Initial Catalog=RentalDb;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="RentalDb" connectionString="Server=a4425d52-d66c-4ffe-a2b0-a27e014c77df.sqlserver.sequelizer.com;Database=dba4425d52d66c4ffea2b0a27e014c77df;User ID=svwjzedcltvppgdw;Password=woZp8z7BJfFXHdQHy8HQdokxWdYLM7tbifVN4nKrZyVWLrDxeqkKPAXhdBA4JuXL;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>